# 01 Importing Libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/Dena/Instacart Basket Analysis'

In [6]:
# import combined order data 
df_combined = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

# check the output
df_combined.head(20)

,Unnamed: 0,order_id,user_id,number_of_orders_by_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,Yes,196,1,0,both
1,0,2539329,1,1,2,8,NaN,Yes,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,Yes,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,Yes,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,Yes,26405,5,0,both
5,1,2398795,1,2,3,7,15.0,No,196,1,1,both
6,1,2398795,1,2,3,7,15.0,No,10258,2,0,both
7,1,2398795,1,2,3,7,15.0,No,12427,3,1,both
8,1,2398795,1,2,3,7,15.0,No,13176,4,0,both
9,1,2398795,1,2,3,7,15.0,No,26088,5,1,both
10,1,2398795,1,2,3,7,15.0,No,13032,6,0,both
11,2,473747,1,3,3,12,21.0,No,196,1,1,both
12,2,473747,1,3,3,12,21.0,No,12427,2,1,both
13,2,473747,1,3,3,12,21.0,No,10258,3,1,both
14,2,473747,1,3,3,12,21.0,No,25133,4,0,both
15,2,473747,1,3,3,12,21.0,No,30450,5,0,both
16,3,2254736,1,4,4,7,29.0,No,196,1,1,both
17,3,2254736,1,4,4,7,29.0,No,12427,2,1,both
18,3,2254736,1,4,4,7,29.0,No,10258,3,1,both
19,3,2254736,1,4,4,7,29.0,No,25133,4,1,both

In [23]:
# drop the unnecessary column
df_combined.drop('_merge', inplace = True, axis = 1)

# check the output
df_combined.head()

,Unnamed: 0,order_id,user_id,number_of_orders_by_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered
0,0,2539329,1,1,2,8,NaN,Yes,196,1,0
1,0,2539329,1,1,2,8,NaN,Yes,14084,2,0
2,0,2539329,1,1,2,8,NaN,Yes,12427,3,0
3,0,2539329,1,1,2,8,NaN,Yes,26088,4,0
4,0,2539329,1,1,2,8,NaN,Yes,26405,5,0

In [27]:
df_combined.shape

(32434489, 11)

In [10]:
# import product data frame
df_prods = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'), index_col = False)

# check the output
df_prods.head(10)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
5,5,6,Dry Nose Oil,11,11,2.6
6,6,7,Pure Coconut Water With Orange,98,7,4.4
7,7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4

In [25]:
# drop the unnecessary column
df_prods.drop('Unnamed: 0', inplace = True, axis = 1)

# check the output
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [26]:
df_prods.shape

(49672, 5)

# 02 Merging Data

In [28]:
# merge the data
df_merged = df_combined.merge(df_prods, on = ['product_id'], indicator = True)

In [29]:
# check the output
df_merged.head(30)

,Unnamed: 0,order_id,user_id,number_of_orders_by_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,1,2,8,NaN,Yes,196,1,0,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,No,196,1,1,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,No,196,1,1,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,No,196,1,1,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,No,196,1,1,Soda,77,7,9.0,both
5,5,3367565,1,6,2,7,19.0,No,196,1,1,Soda,77,7,9.0,both
6,6,550135,1,7,1,9,20.0,No,196,1,1,Soda,77,7,9.0,both
7,7,3108588,1,8,1,14,14.0,No,196,2,1,Soda,77,7,9.0,both
8,8,2295261,1,9,1,16,0.0,No,196,4,1,Soda,77,7,9.0,both
9,9,2550362,1,10,4,8,30.0,No,196,1,1,Soda,77,7,9.0,both
10,144,2968173,15,15,1,9,7.0,No,196,2,0,Soda,77,7,9.0,both
11,146,1870022,15,17,2,16,8.0,No,196,6,1,Soda,77,7,9.0,both
12,147,1911383,15,18,2,11,7.0,No,196,1,1,Soda,77,7,9.0,both
13,150,2715276,15,21,1,9,7.0,No,196,1,1,Soda,77,7,9.0,both
14,151,487368,15,22,1,10,14.0,No,196,1,1,Soda,77,7,9.0,both
15,209,2293453,19,2,5,14,6.0,No,196,3,0,Soda,77,7,9.0,both
16,212,1973799,19,5,6,12,8.0,No,196,15,1,Soda,77,7,9.0,both
17,214,532817,19,7,4,17,6.0,No,196,1,1,Soda,77,7,9.0,both
18,232,1573906,21,10,3,10,6.0,No,196,2,0,Soda,77,7,9.0,both
19,458,1593000,31,10,3,8,7.0,No,196,17,0,Soda,77,7,9.0,both
20,465,2231262,31,17,3,11,8.0,No,196,14,1,Soda,77,7,9.0,both
21,617,2580647,43,6,4,16,4.0,No,196,9,0,Soda,77,7,9.0,both
22,620,2187180,43,9,4,12,3.0,No,196,1,1,Soda,77,7,9.0,both
23,751,2497897,52,1,1,9,NaN,Yes,196,4,0,Soda,77,7,9.0,both
24,752,1318871,52,2,1,10,7.0,No,196,5,1,Soda,77,7,9.0,both
25,753,1261384,52,3,1,10,7.0,No,196,3,1,Soda,77,7,9.0,both
26,755,580568,52,5,2,10,8.0,No,196,6,1,Soda,77,7,9.0,both
27,757,2428073,52,7,2,7,8.0,No,196,5,1,Soda,77,7,9.0,both
28,759,342306,52,9,1,11,7.0,No,196,5,1,Soda,77,7,9.0,both
29,760,1520353,52,10,2,10,8.0,No,196,4,1,Soda,77,7,9.0,both

In [30]:
# check the output
df_merged.tail(30)

,Unnamed: 0,order_id,user_id,number_of_orders_by_user,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
32404829,3215108,131322,193840,3,0,14,12.0,No,19259,10,0,Florentine Spinach and Cheese Pasta Sauce,9,9,4.1,both
32404830,3219054,2990238,194078,4,1,13,10.0,No,40747,29,0,Whitening Plus Scope Crest Complete Multi-Bene...,20,11,8.7,both
32404831,3363917,3294485,202763,27,0,16,30.0,No,40747,13,0,Whitening Plus Scope Crest Complete Multi-Bene...,20,11,8.7,both
32404832,3228940,2706073,194639,25,5,11,16.0,No,45378,10,0,Miss Treated Conditioner,22,11,15.0,both
32404833,3252344,346319,196040,9,3,16,16.0,No,35952,13,0,Peachtree Schnapps,124,5,3.2,both
32404834,3258216,828012,196359,2,1,7,8.0,No,48343,6,0,Hennepin Farmhouse Ale,27,5,10.2,both
32404835,3274309,2608655,197349,1,3,15,NaN,Yes,9818,9,0,Cld/Flu Van Chrry,11,11,9.9,both
32404836,3276225,3004721,197459,2,4,20,4.0,No,44495,1,0,Lowfat Cherry Lime Supernova Kefir Cultured Mi...,120,16,10.3,both
32404837,3286842,2216423,198107,2,5,16,7.0,No,29713,4,0,18 Year Scotch Whisky,124,5,2.6,both
32404838,3286844,136517,198107,4,1,13,8.0,No,29713,3,1,18 Year Scotch Whisky,124,5,2.6,both
32404839,3324280,461844,200351,5,2,11,9.0,No,15408,2,0,Training Fluoride Free Toothpaste Apple & Ban...,20,11,7.0,both
32404840,3410753,216145,205587,1,3,14,NaN,Yes,15408,6,0,Training Fluoride Free Toothpaste Apple & Ban...,20,11,7.0,both
32404841,3326191,2941852,200463,2,1,15,30.0,No,8682,11,0,All Purpose Eraser,114,17,8.8,both
32404842,3375238,2321285,203389,16,2,10,6.0,No,8682,7,0,All Purpose Eraser,114,17,8.8,both
32404843,3360477,609055,202557,1,0,13,NaN,Yes,43553,2,0,Orange Energy Shots,64,7,3.7,both
32404844,3360480,1928449,202557,4,4,9,16.0,No,43553,4,1,Orange Energy Shots,64,7,3.7,both
32404845,3360482,2222639,202557,6,5,9,4.0,No,43553,3,1,Orange Energy Shots,64,7,3.7,both
32404846,3360484,339942,202557,8,4,10,4.0,No,43553,3,1,Orange Energy Shots,64,7,3.7,both
32404847,3360485,2798193,202557,9,4,13,7.0,No,43553,5,1,Orange Energy Shots,64,7,3.7,both
32404848,3360487,2391791,202557,11,6,6,8.0,No,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404849,3360488,576295,202557,12,3,10,11.0,No,43553,14,1,Orange Energy Shots,64,7,3.7,both
32404850,3360489,960088,202557,13,4,12,15.0,No,43553,3,1,Orange Energy Shots,64,7,3.7,both
32404851,3360490,343962,202557,14,0,10,3.0,No,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404852,3360491,2329472,202557,15,6,12,6.0,No,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404853,3360492,694731,202557,16,1,14,2.0,No,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404854,3360493,1320836,202557,17,2,15,1.0,No,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404855,3360494,31526,202557,18,5,11,3.0,No,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404856,3376038,758936,203436,1,2,7,NaN,Yes,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both
32404857,3376039,2745165,203436,2,3,5,15.0,No,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both
32404858,3408036,3093936,205420,1,4,14,NaN,Yes,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both

In [31]:
df_merged.shape

(32404859, 16)

# 03 Export the Data

In [32]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))